/*
 * Custom sw-frigian CSS
 */
 .aimeos .main-sidebar .swordbros .icon:before {
  content: "\f19c";
}
.aimeos .main-sidebar .swordbros.active {
  color:#30d5c8;
}

.item-frigian .header-type label{
  padding: 10px;
  transition: box-shadow .5s;
}
.item-frigian .header-type label:hover{
  box-shadow: 0 0 10px #f1f0a8;
}